# Python bytecode cache directories
__pycache__/
**/__pycache__/

# Generated Python files
*_gen.py

# Pytest cache directories
.pytest_cache/
**/.pytest_cache/


src/tanuki/mori/halo_maps/docs

src/tanuki/mori/stencil_lab/docs/refs

exports/